<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulaire</title>
  </head>
  <body>
    {% extends 'taskman/base.html' %}
    {% load crispy_forms_tags %}

    {% block content %}
      <div class="container">
        <div class="col-6 offset-md-3 col-md-6 shadow p-3 mb-5 rouded br3 bc9 bsd0 degrade">
          <h1>Se connecter</h1>

          <div class="col-12 offset-md-3 col-md-6 my-4">
            <form class="row" action="" method="post" novalidate>
              {% csrf_token %}

              <div class="form-group">{{ form.username|as_crispy_field }}</div>
              <div class="form-group">{{ form.firstname|as_crispy_field }}</div>
              <div class="form-group">{{ form.lastname|as_crispy_field }}</div>

              <div class="form-group">{{ form.email|as_crispy_field }}</div>

              <div class="form-group">{{ form.password1|as_crispy_field }}</div>

              <div class="form-group">{{ form.password2|as_crispy_field }}</div>

              <input type="submit" class="btn btn-primary" value="Register" />
            </form>

            <p class="fw-bold fs-2">
              Have you already a account ? <a href="{% url 'accounts:login' %}">Sign in</a>
            </p>
          </div>
        </div>
      </div>
    {% endblock %}
  </body>
</html>
